.playButton svg, .trailerButton svg {
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.svg {
    display: flex;
    justify-content: center;
    align-content: center;
}

.svg svg {
    top: -5px;
    margin: 0;
    padding: 5px;
    transform: translate(-5px, -1px);
}

.playButton, .trailerButton {
    position: relative;
    display: flex;
    font-family: "Baloo 2", cursive;
    font-size: large;
    font-weight: lighter;
    color: white;
    fill: white;
    border-radius: 6px;
    padding: 10px 30px;
    border: 1px solid white;
    transform: scale(0.97);
    transition: all .2s ease-in-out;
    align-items: center;
    cursor: pointer;
    z-index: 9999999;
}

.playButton, .roundGuys {
    background: rgba(1, 16, 28, .4);
}

.trailerButton {
    background: rgba(217, 238, 255, .2);
}

.playButton:hover, .trailerButton:hover, .roundGuys:hover {
    border-color: var(--nino-blue);
    color: var(--nino-blue);
    fill: var(--nino-blue);
    box-shadow: 2px 2px 8px rgba(1, 16, 28, 0.5);
    transform: scale(1);
}

.playButton:hover, .roundGuys:hover {
    background: rgba(1, 16, 28, .7);
}

.trailerButton:hover {
    background: rgba(217, 238, 255, .1);
}

.roundGuys {
    position: relative;
    display: flex;
    color: white;
    fill: white;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid white;
    transform: scale(0.97);
    transition: all .3s ease-in-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999999;
}

.roundGuys svg {
    width: 20px;
    height: 20px;
}

.noFill {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

.noFill:hover {
    stroke: #d9eeff;
    fill: none;
}

.bb {
    position: fixed;
    top: 7vh;
    left: 3vw;
    height: 6vh;
    padding: 2px;
    fill: rgba(144, 197, 240, .9);
    stroke: rgba(1, 16, 28, .9);
    stroke-width: 10;
    transition: all .2s ease-in-out;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

.bb:hover {
    fill: #d9eeff;
    stroke: rgba(144, 197, 240, .9);
    transform: scale(1.05);
}

.rc {
    display: flex;
    align-items: center;
}

.rc:hover .rf {
    background: rgba(144, 197, 240, .5);
}

.rc:hover .review {
    border: 1px solid rgba(1, 16, 28, .8);
    background: rgba(1, 16, 28, .5);
}

.rc:hover .rh {
    color: #d9eeff;
}

.review {
    width: 100px;
    height: 14px;
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(255, 255, 255, .2);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.rf {
    width: 77%;
    height: 100%;
    background: rgba(1, 16, 28, .8);
    transition: all .2s ease-in-out;
    cursor: pointer;
}