.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    color: #2b3940;
    justify-content: flex-end;
}

.search-holder{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.search-input {
    position: absolute;
    outline: 0;
    width: 83%;
    height: 87%;
    background: 0 0;
    padding: 0 10px;
    border: 2px solid var(--nino-blue);
    border-radius: 10px;
    font-size: large;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    left: 0;
    font-family: var(--text);
    color: var(--nino-blue);
}

.search-input:focus{
    visibility: visible;
    opacity: 1;
}

.search-input::placeholder {
    margin: 0;
    padding: 0;
    color: var(--nino-blue);
    transition: color 0.2s ease-in-out;
}

.searchButton {
    fill: none;
    right: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    background: 0 0;
    outline: 0;
    box-shadow: none;
    border: none;
    height: 1.5vmax;
    width: 1.5vmax;
    margin-left: 20px;
    padding: 0;
}

.searchButton:hover + .search-input, .search-input:hover {
    visibility: visible;
    opacity: 1;
}

.searchButton svg {
    width: 100%;
    stroke-width: 3;
    stroke: var(--nino-blue);
    transition: stroke 0.2s ease-in-out;
    cursor: pointer;
}
