.banners {
    width: 100%;
    height: 100%;
}

.bannersBackdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerObject-holders {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    font-family: var(--text);
    background: linear-gradient(to right, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0)),
    linear-gradient(to top, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0)),
    linear-gradient(45deg, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0));
}

.bannerHouse {
    width: 40%;
    height: 50%;
    margin: 0 0 5% 5%;
    transition: all .2s ease-in-out;
}

.bannersLogo {
    height: 50%;
    max-width: 50%;
    object-fit: contain;
}

.bannerButtons {
    width: 100%;
    display: flex;
}

.bannerButtons button {
    margin-right: 10px;
}

.carousel {
    position: absolute;
    top: 76%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.carousel svg {
    width: 12px;
    height: 12px;
    stroke-width: 3;
    margin: 0 4px;
    stroke: rgba(217, 238, 255, .4);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.bannerHouse p {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activeCarousel {
    fill: var(--nino-blue);
}

.passiveCarousel {
    fill: rgba(217, 238, 255, .2);
}

.fade_img {
    animation: fade_img .5s steps(1000);
    animation-fill-mode: forwards;
}

.glow_img {
    animation: glow_img 1s steps(1000);
    animation-fill-mode: forwards;
}

@keyframes fade_img {
    from {
        opacity: .9
    }
    to {
        opacity: 0
    }
}

@keyframes glow_img {
    from {
        opacity: 0
    }
    to {
        opacity: .9
    }
}
