.CNTR {
    position: relative;
    padding: 10vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46vh;
    width: 100%;
    margin: 0;
}

.hldr {
    position: absolute;
    width: 90vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 9px 11px -4px #000000;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.nav {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.nav svg {
    width: 12px;
    height: 12px;
    stroke-width: 3;
    margin: 0 4px;
    stroke: rgba(217, 238, 255, .4);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.first {
    animation: firstMove 0.5s forwards;
}

.second {
    animation: secondMove 0.5s forwards;
}

.third {
    animation: thirdMove 0.5s forwards;
}

.firstBack {
    animation: firstMoveBack 0.5s forwards;
}

.secondBack {
    animation: secondMoveBack 0.5s forwards;
}

.thirdBack {
    animation: thirdMoveBack 0.5s forwards;
}

@keyframes displayLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes firstMove {
    0% {
        left: 5vw;
        height: 45vh;
    }
    100% {
        left: -87vw;
        height: 40vh;
    }
}

@keyframes secondMove {
    0% {
        left: 97vw;
        height: 40vh;
    }
    100% {
        left: 5vw;
        height: 45vh;
    }
}

@keyframes thirdMove {
    0% {
        left: 189vw;
        height: 40vh;
    }
    100% {
        left: 97vw;
        height: 40vh;
    }
}

@keyframes firstMoveBack {
    0% {
        left: -187vw;
        height: 40vh;
    }
    100% {
        left: -87vw;
        height: 40vh;
    }
}

@keyframes secondMoveBack {
    0% {
        left: -87vw;
        height: 40vh;
    }
    100% {
        left: 5vw;
        height: 45vh;
    }
}

@keyframes thirdMoveBack {
    0% {
        left: 5vw;
        height: 45vh;
    }
    100% {
        left: 97vw;
        height: 40vh;
    }
}

.hldr .bck {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    object-fit: cover;
}

.hldr .foncer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(1, 16, 28, 1) 30%, rgba(1, 16, 28, .2) 60%, rgba(1, 16, 28, 0)),
    linear-gradient(45deg, rgba(1, 16, 28, 1) 10%, rgba(1, 16, 28, .2) 60%, rgba(1, 16, 28, 0)),
    linear-gradient(135deg, rgba(1, 16, 28, 1) 10%, rgba(1, 16, 28, .2) 60%, rgba(1, 16, 28, 0));
}

.hldr .logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 30%;
    height: 40%;
    opacity: 0;
    animation: displayLogo 0.5s forwards;
    animation-delay: 0.5s;
    object-fit: contain;
}

.hldr:hover {
    cursor: pointer;
    box-shadow: 0 16px 11px -4px #000000;
    border: 2px solid var(--nino-blue);
}
