.user-account {
    height: 3vmax;
    width: 3vmax;
    margin-left: 10px;
}

.account-image {
    height: 100%;
    width: 100%;
    background: 0 0;
    outline: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(1, 16, 28, 0.3);
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transform: scale(0.6);
    transition: all 0.2s ease-in-out;
}

.ac-circle {
    fill: #eceff1;
}

.account-image:hover {
    transform: scale(0.8);
}