.searchList {
    display: flex;
    max-width: 90%;
    margin: 0;
    padding: 2px;
    list-style: none;
    overflow-x: scroll;
    color: var(--nino-blue);
    font-family: var(--text);
    font-size: large;
    cursor: pointer;
    z-index: 10;
}

.searchList::-webkit-scrollbar, .gridHolder::-webkit-scrollbar {
    display: none;
}

.searchList li {
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0 5px 5px 5px;
    transition: all .2s ease-in-out;
    box-shadow: 0 10px 7px -12px #000000;
    border: 1px solid rgba(144, 197, 240, .5);
    border-radius: 7px;
}

.searchList li:hover, .activeList {
    background-color: rgba(144, 197, 240, 0.09);
    box-shadow: 0 10px 7px -10px #000000;
    border-color: var(--nino-blue);
}

.passiveList {
    background-color: rgba(1, 16, 28, 0.5);
}

.activeList {
    background-color: rgba(144, 197, 240, 0.09);
}

.searchListHolder {
    position: fixed;
    top: 6vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.gridHolder, .collectionHolder {
    position: fixed;
    top: 18vh;
    height: 80.5vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.collectionHolder {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
