.a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.b {
    margin: 0 1.5vw;
    color: white;
    font-weight: lighter;
    font-family: var(--text);
}

.c {
    position: relative;
    width: 87%;
    height: 1vw;
    max-height: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(144, 197, 240, .2);
}

.d {
    background: rgba(144, 197, 240, .9);
    height: 100%;
    width: 0;
    transition: all .2s;
}

.dl {
    position: absolute;
    left: 0;
    background: rgba(144, 197, 240, .3);
    height: 100%;
    width: 0;
    transition: all .2s;
    z-index: 1;
}

.e {
    background: white;
    display: inline-block;
    transition: all 0.2s;
    height: 3vw;
    width: 3vw;
    max-height: 11px;
    max-width: 11px;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 12px 12px -12px #000000;
    z-index: 4;
}