.infoHolder {
    position: fixed;
    overflow: hidden;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.info-holders {
    position: fixed;
    top: 0;
    padding: 0 0 0 2%;
    margin-right: 0;
    width: 98%;
    height: 100%;
    color: white;
    font-size: large;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: var(--text);
    transition: opacity .4s ease-in-out;
    background: linear-gradient(to right, rgba(1, 16, 28, .5), rgba(1, 16, 28, 0)),
    linear-gradient(to top, rgba(1, 16, 28, .5), rgba(1, 16, 28, 0)),
    linear-gradient(45deg, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0));
}

.info-holders::-webkit-scrollbar {
    display: none;
}

.infoNaming {
    display: flex;
    margin: 12% 0 0 0;
    font-family: "Baloo 2", cursive;
    font-size: 50px;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 20%;
}

.infoNaming span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 50px;
    -webkit-box-orient: vertical;
    width: 50%;
    max-height: 90px;
}

.infoNaming img {
    object-fit: contain;
    width: 30%;
    height: 100%;
}

.infoButtons, .infoDetails {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    min-width: 38%;
    margin: 20px 5px;
}

.detailsHolder {
    width: 30%;
}

.infoDetails {
    max-width: 50%;
}

.infoDetails div, .infoDetails span {
    margin-right: 10px;
}

.infoOverview {
    font-size: 23px;
    width: 65%;
}

.infoOverview p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.rating {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 10px;
}

.infoSection {
    display: flex;
    font-family: "Baloo 2", cursive;
    list-style: none;
    font-size: 23px;
    width: 90%;
    overflow: scroll;
    color: rgba(255, 255, 255, .7);
    margin: 0;
    padding: 0;
}

.infoSection::-webkit-scrollbar {
    display: none;
}

.spacer {
    background: rgba(255, 255, 255, .4);
    height: 3px;
    width: 97%;
}

.infoSection li {
    padding: 5px 28px;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.infoSectionActive {
    color: white;
    border-bottom: 2px solid white;
}

#review-cont {
    display: flex;
    align-items: center;
}

#review-cont:hover #review-fill {
    background: rgba(144, 197, 240, .5);
}

#review-cont:hover #review {
    border: 1px solid rgba(1, 16, 28, .8);
    background: rgba(1, 16, 28, .5);
}

#review-cont:hover #review-holder {
    color: #d9eeff;
}

#review {
    width: 100px;
    height: 14px;
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(255, 255, 255, .2);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#review-fill {
    width: 77%;
    height: 100%;
    background: rgba(1, 16, 28, .8);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-family: "Baloo 2", cursive;
    font-size: 25px;
    width: 27px;
    height: 27px;
    margin: 0;
    background: rgba(1, 16, 28, .2);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.svg:hover {
    color: var(--nino-blue);
    background: rgba(1, 16, 28, .8);
}

.a {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.trailer {
    position: relative;
    left: 0;
    bottom: 0;
    transition: all .5s ease-in-out;
}
