.a {
    overflow-x: hidden;
}

.a::-webkit-scrollbar {
    display: none;
}

.b {
    display: flex;
    justify-content: flex-start;
    width: 98vw;
    list-style: none;
    padding: 2px;
}

.b:last-child {
    margin-right: 100px;
}

.b li img {
    width: 300px;
    height: 169px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    box-shadow: 2px 12px 12px -12px #000000;
    cursor: pointer;
}

.b li:hover img {
    box-shadow: 2px 12px 8px -6px #000000;
    border: 2px solid rgba(217, 238, 255, 0.9);
    transform: scale(1.01);
}

.c {
    left: 0;
    padding-top: 10px;
    position: relative;
    font-weight: bolder;
    font-size: larger;
    width: 100%;
}

.d {
    position: relative;
    width: 305px;
    margin-right: 15px;
}

.d p {
    font-weight: lighter;
    font-size: medium;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.e {
    position: absolute;
    top: 160px;
    left: 12px;
    width: 281px;
    height: 5px;
    background: rgba(144, 197, 240, .2);
    display: none;
    transition: all 0.2s ease-in-out;
}

.e .fill {
    height: 100%;
    border-radius: 5px;
    background: rgba(144, 197, 240, .8);
    width: 60%;
    transition: all 0.2s ease-in-out;
}