.un {
    position: absolute;
    width: 304px;
    padding: 10px;
    background-color: rgba(1, 16, 28, .7);
    right: 15px;
    font-family: var(--text);
    bottom: 90px;
    color: white;
    border: 2px solid var(--nino-blue);
    opacity: 0;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.p {
    display: flex;
    max-height: 90px;
}

.un p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.subH {
    position: absolute;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    border: 1px solid var(--nino-blue);
    background-color: rgba(1, 16, 28, .7);
    right: 80px;
    bottom: 90px;
    width: 140px;
    font-family: var(--text);
    font-size: large;
    color: white;
    opacity: 0;
    overflow: hidden;
}

.subD {
    position: absolute;
    left: 7%;
    width: 86%;
    height: 1px;
    background: var(--nino-blue);
}

.subE {
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.ctv {
    background: rgba(144, 197, 240, .25);
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.subE:hover {
    color: rgba(144, 197, 240, .9);
}

.bb {
    position: fixed;
    top: 7vh;
    left: 3vw;
    height: 6vh;
    padding: 2px;
    fill: rgba(144, 197, 240, .9);
    stroke: rgba(1, 16, 28, .9);
    stroke-width: 10;
    transition: all .2s ease-in-out;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

.bb:hover {
    fill: #d9eeff;
    stroke: rgba(144, 197, 240, .9);
    transform: scale(1.05);
}

.ci {
    position: fixed;
    display: flex;
    top: 7vh;
    right: 3vw;
    height: 6vh;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    max-width: 40%;
}

.ci img {
    height: 6vh;
    object-fit: contain;
}

.ci span {
    font-family: var(--text);
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(1, 16, 28, 0.3);
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ep {
    position: fixed;
    top: 14vh;
    right: 3vw;
    height: 6vh;
    text-align: right;
    align-items: center;
    max-width: 50%;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(1, 16, 28, 0.3);
    font-family: var(--text);
    font-weight: bold;
    font-size: 15px;
}

.buffer {
    color: rgba(144, 197, 240, .9);
    font-size: 85px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    -webkit-transform: translateZ(0) scale(0.5);
    -ms-transform: translateZ(0) scale(0.5);
    transform: translateZ(0) scale(0.5);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5);
        transform: rotate(0deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.5);
        transform: rotate(360deg) scale(0.5);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5);
        transform: rotate(0deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.5);
        transform: rotate(360deg) scale(0.5);
    }
}

.vd {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(1, 16, 28, .3);
    top: 0;
    left: 0;
}

.vi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(1, 16, 28, .3), rgba(1, 16, 28, .7));
    transition: all .4s ease-in-out;
}

.hide {
    opacity: 0;
    z-index: -999999;
    transition-delay: .4s;
}

.inf {
    position: fixed;
    color: white;
    top: 18vh;
    left: 5vw;
    width: 64vw;
    font-family: var(--text);
}

.title {
    height: 10vh;
    width: auto;
    max-width: 60%;
    object-fit: contain;
    margin-bottom: 3vh;
    font-weight: bolder;
    font-size: 50px;
}

.epi {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.spacer {
    width: 100%;
    height: 1vh;
}

.ovr {
    font-size: 22px;
}


.slideRight {
    animation: slideRight 0.4s steps(10000);
}

@-webkit-keyframes slideRight {
    0% {
        left: -100%;
    }
    10% {
        left: -90%;
    }
    25% {
        left: -75%;
    }
    50% {
        left: -50%;
    }
    75% {
        left: -25%;
    }
    90% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}

.slideLeft {
    animation: slideLeft 0.4s steps(10000);
    animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeft {
    0% {
        left: 0;
    }
    10% {
        left: -10%;
    }
    25% {
        left: -25%;
    }
    50% {
        left: -50%;
    }
    75% {
        left: -75%;
    }
    90% {
        left: -90%;
    }
    100% {
        left: -100%;
    }
}