.b {
    height: 2.8vmax;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.b img {
    position: relative;
    height: 100%;
    box-shadow: var(--shadow);
    margin-right: 5px;
}

.bt {
    font-size: x-large;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    margin-top: 3px;
    color: var(--nino-blue);
    text-shadow: var(--shadow);
}

.b:hover {
    transform: scale(1.1);
}