.hldr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


.IMG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.foncer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to right, rgba(1, 16, 28, .7), rgba(1, 16, 28, 0)),
    linear-gradient(to top, rgba(1, 16, 28, .7), rgba(1, 16, 28, 0)),
    linear-gradient(45deg, rgba(1, 16, 28, .7), rgba(1, 16, 28, 0));
}

.pstr{
    position: fixed;
    bottom: 140px;
    left: 50px;
    width: 30vw;
    height: 16.88vw;
    border-radius: 5px;
    object-fit: contain;
    -webkit-box-shadow: 0 27px 15px -7px rgba(0, 0, 0, 0.84);
    box-shadow: 0 27px 15px -7px rgba(0, 0, 0, 0.84);
    border: 2px solid rgba(217, 238, 255, 0.9);
}

.but {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    display: flex;
    bottom: 40px;
    left: 50px;
}

.sdbr {
    position: fixed;
    top: 0;
    right: -30%;
    width: 27%;
    height: 100%;
    background: rgba(1, 16, 28, .7);
    -webkit-box-shadow: -15px -1px 15px -4px rgba(0, 0, 0, 0.44);
    box-shadow: -15px -1px 15px -4px rgba(0, 0, 0, 0.44);
    transition: all .5s ease;
}

.sdbr .hdr {
    top: 4%;
    display: flex;
    position: absolute;
    font-family: "Baloo 2", cursive;
    color: white;
    text-shadow: var(--shadow);
    justify-content: center;
    align-items: center;
    font-size: 38px;
    margin: 10px;
    width: calc(100% - 20px);
}

.sdbr svg{
    width: 24px;
    height: 24px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-left: 20px;
}

.sdbr .pckr::-webkit-scrollbar, .chtMsg::-webkit-scrollbar {
    display: none;
}

.sdbr .pckr {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 13%;
    font-family: "Baloo 2", cursive;
    list-style: none;
    font-size: 18px;
    width: calc(100% - 20px);
    overflow: scroll;
    color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    margin: 10px;
    padding: 0;
}

.sdbr .pckr li {
    padding: 5px;
    cursor: pointer;
    width: calc(100% - 10px);
    text-align: center;
}

.cnt {
    position: absolute;
    width: calc(100% - 20px);
    height: 70vh;
    top: 21%;
    margin: 10px;
}

.actv {
    color: white;
    border-bottom: 1px solid white;
}

.chtCntr {
    position: absolute;
    display: flex;
    width: calc(100% - 20px);
    height: 30px;
    bottom: 0;
    border: 1px solid rgba(217, 238, 255, 0.6);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    overflow: hidden;
    margin: 10px;
}

.chtCntr:hover{
    border: 1px solid rgba(217, 238, 255, 0.9);
}

.chtCntr input {
    outline: 0;
    height: 90%;
    width: 95%;
    padding: 0 10px;
    font-size: large;
    transition: all .2s ease-in-out;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: var(--text);
    color: var(--nino-blue);
}

.chtCntr button {
    background: rgba(217, 238, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    box-shadow: none;
    padding: 0;
    height: 100%;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.chtCntr button svg {
    fill: none;
    margin: 0;
    stroke: rgba(1, 16, 28, .9);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.chtCntr button:hover {
    background: rgba(217, 238, 255, 0.9);
}

.chtMsg {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    font-family: var(--text);
    color: white;
}

.msg {
    width: 90%;
    margin: 10px;
}

.msgUsr, .msgTime {
    font-size: 12px;
    font-family: var(--text);
    color: rgba(255, 255, 255, .5);
    padding: 2px;
}

.msgUsr {
    margin: 10px 0;
    font-family: "Baloo 2", cursive;
}

.msgTime {
    margin: 5px 0;
}

.chtMsgItm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0  10px 40px 10px;
    width: calc(100% - 20px);
    height: 60px;
    box-shadow: -1px 2px 4px -1px #000000;
    border-radius: 5px;;
}

.hvr {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.hvr:hover {
    box-shadow: 2px 21px 15px -8px rgba(0,0,0,0.58);
    color: var(--nino-blue);
}

.hvr:hover svg {
    stroke: var(--nino-blue);
}

.atr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 55px;
    margin: 0 10px;
}

.onrHdr {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
    width: calc(100% - 100px);
}

.atr svg {
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin: 0;
}

.away svg {
    stroke: rgba(255, 255, 255, .5);
}

.streaming svg {
    stroke: rgba(60, 171, 103, .9);
}

.online svg {
    stroke: rgba(255, 255, 255, .9);
}

.onrHdrStm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    width: 100%;
    overflow: hidden;
}

.onrHdrStm div{
    white-space: nowrap;
}

.onrHdrUsr {
    font-family: "Baloo 2", cursive;
    font-size: 20px;
}