.block {
    position: fixed;
    background: linear-gradient(to right, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0)),
    linear-gradient(to top, rgba(1, 16, 28, .3), rgba(1, 16, 28, 0)),
    linear-gradient(45deg, rgba(1, 16, 28, .1), rgba(1, 16, 28, 0));

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    visibility: hidden;
}

.container {
    position: relative;
    width: 70%;
    height: 70%;
    overflow: hidden;
    border: 1px solid var(--nino-blue);
    background: rgba(1, 16, 28, .9);
    border-radius: 7px;
    color: var(--nino-blue);
    font-family: var(--text);
    box-shadow: 2px 12px 12px -12px #000000;
}

.o {
    animation: expand .3s ease-in-out forwards;
}

.c {
    animation: expand .1s ease-in-out reverse forwards;
}

@keyframes expand {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
    }
}

.bckImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
}

.hold {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-wrap: none;
    text-overflow: ellipsis;
    background: rgba(1, 16, 28, .8);
    box-shadow: 2px 12px 12px -12px #000000;
}

.tail {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    background: rgba(1, 16, 28, .8);
    border-radius: 7px;
}

.body {
    display: grid;
    width: 100%;
    height: calc(100% - 110px);
    background: rgba(1, 16, 28, .6);
    grid-template-columns: 1fr 4fr;
}

.pickBody {
    width: 100%;
    height: calc(100% - 110px);
    background: rgba(1, 16, 28, .6);
}

.pickGrid {
    padding: 20px 50px;
    display: grid;
    align-items: center;
    row-gap: 15px;
    height: calc(100% - 130px);
    overflow: scroll;
}

.inputHolders {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.pickImgHolder {
    position: relative;
    width: 250px;
    height: 140px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.pickImgHolder:hover {
    border: 2px solid var(--nino-blue);
}

.pickImgHolder .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pickImgHolder .img2 {
    position: absolute;
    height: 20%;
    max-width: 50%;
    object-fit: contain;
    padding: 5px;
    left: 5%;
    bottom: 5%;
    background: rgba(1, 16, 28, .6);
}

.search {
    display: flex;
    align-items: center;
    width: 30%;
}

.tail button {
    transform: scale(.7);
}

.tail button:hover {
    transform: scale(.8);
}

.side {
    margin: 0;
    padding: 40px;
    background: rgba(1, 16, 28, .6);
    font-size: larger;
    list-style: none;
}

.side li {
    margin: 20px 0;
    cursor: pointer;
}

.nSel {
    color: #d9eeffa1;
}

.sel, .side li:hover {
    color: var(--nino-blue);
}

.dc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    font-size: larger;
    color: var(--nino-blue);
    cursor: pointer;
    z-index: 2;
}

.dc label {
    margin-right: 20px;
}

.genInput input, .genInput textarea, .select {
    width: 95%;
    height: 30px;
    outline: 0;
    background: rgba(1, 16, 28, 0.1);
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: center;
    margin: 10px 0;
}

.select::-webkit-outer-spin-button, .select::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genInput textarea {
    height: 120px;
    text-align: left;
}

.select {
    width: 40%;
}

.list {
    height: 140px;
    overflow: scroll;
    list-style: none;
    padding: 0;
}

.list li {
    padding: 10px;
    font-size: larger;
    color: #d9eeffa1;
    transition: all .2s ease-in-out;
}

.list li:hover {
    color: var(--nino-blue);
    cursor: pointer;
}

.genInput label {
    color: #d9eeffa1;
}

.genInput, .epiHolder {
    margin: 5px 0;
    padding: 10px;
    height: 390px;
    overflow: scroll;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
}

.info {
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

.images {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.images img {
    width: 160px;
    height: 90px;
    margin: 4px;
    object-fit: contain;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.images img:hover {
    border: 1px solid var(--nino-blue);
}

.epi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.epiOut {
    display: flex;
    min-width: 600px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label {
    width: 40%;
    margin: 0 20px;
}

.epiSub {
    display: flex;
    justify-content: center;
    transform: scale(0.7);
}

.label input {
    width: 95%;
    height: 30px;
    outline: 0;
    background: rgba(1, 16, 28, 0.1);
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: center;
}